(spawn_rate:0.01,spawn_amount:9,emission_shape:Point,lifetime:(0.2,0.0),linear_speed:Some((151.0,0.1)),linear_acceleration:Some((0.0,0.0)),direction:Some(((0.0,1.0),0.02)),angular_speed:Some((0.0,0.0)),angular_acceleration:Some((0.0,0.0)),scale:Some((1.0,1.0)),color:None,gravity_direction:None,gravity_speed:None,linear_damp:Some((0.0,0.0)),angular_damp:Some((0.0,0.0)),scale_curve:None,color_curve:Some((points:[((red:0.003071493,green:0.5961212,blue:0.0,alpha:1.0),0.0,None)])))