({
    "player_life.layout": TextureAtlasLayout (
        tile_size_x: 19,
        tile_size_y: 19,
        columns: 11,
        rows: 1
    ),
    "player_sword.layout": TextureAtlasLayout (
        tile_size_x: 24,
        tile_size_y: 35,
        columns: 17,
        rows: 1
    ),
    "enemy_1_attack.layout": TextureAtlasLayout (
        tile_size_x: 16,
        tile_size_y: 16,
        columns: 14,
        rows: 1
    ),
    "enemy_1_walk.layout": TextureAtlasLayout (
        tile_size_x: 16,
        tile_size_y: 16,
        columns: 13,
        rows: 1
    )
})
